.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%
}

th, 
td {
    border: 1 px solid darkslategray;
    text-align: left;
    padding: 8px; 
    font-size: 32px;
}

th {
    background-color: rgb(250, 150, 167);
}

td { 
    background-color: pink;
}

form {
    display: flex;
    justify-content: space-evenly; 
}

form td:last-child {
    display: flex;
    justify-content: space-evenly; 
}

form * {
    font-size: 28px; 
}


